.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-block: 0.5rem;

  transition: all 200ms ease-in;
}

.header[data-visible="true"] {
  color: var(--clr-neutral-2);
}

.header {
  backdrop-filter: blur(15px);
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--clr-neutral-2);
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.header[data-scrolled="true"][data-visible="false"]::before {
  opacity: 0.5;
}

.nav-header {
  position: relative;
  z-index: 2;
  width: 100%;
}

.navigation {
  position: absolute;
  inset: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--clr-neutral-1);

  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in;
}

.header[data-visible="true"] .navigation {
  visibility: visible;
  opacity: 1;
}

.navigation ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@media (width > 45em) {
  .header {
    color: var(--clr-neutral-2);
  }

  .nav-header {
    width: auto;
  }

  .hamburger-btn {
    display: none;
  }

  .navigation {
    position: relative;
    visibility: visible;
    opacity: 1;
    height: auto;

    padding: 10px;
    border-radius: 100vmax;
  }

  .navigation ul {
    flex-direction: row;
  }

  .list-item a {
    position: relative;
    isolation: isolate;
    padding: 5px 10px;
  }

  .active-tab {
    position: absolute;
    inset: 0;
    background-image: var(--gradient-1);
    border-radius: 100vmax;
    z-index: -1;
  }
}
