.image-container {
  --padding: 1.3rem;
  background-image: var(--gradient-3);
  padding: var(--padding) var(--padding) 0 var(--padding);
  margin-bottom: 2rem;
  border-radius: 32px;
  overflow: hidden;
  max-height: 367px;

  transition: all 300ms ease-in-out;
}

.image-container:hover {
  --padding: 0;
}

@media (width < 45em) {
  .image-container {
    --padding: 0.5rem;
    border-radius: 16px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-content {
  font-size: 1.2rem;
}

.heading {
  font-size: var(--fs-body);
}

.card-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.card-tags li {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-2);
  border-radius: 100vmax;
  padding: 2px 15px;
  font-size: 1rem;
}
