.image-container {
  --padding: 1.3rem;
  background-image: var(--gradient-3);
  padding: var(--padding) var(--padding) 0 var(--padding);
  border-radius: 32px;
  overflow: hidden;
}

@media (width < 45em) {
  .image-container {
    --padding: 0.5rem;
    border-radius: 16px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.heading {
  font-size: var(--fs-body);
}
