.hero-section {
  place-items: center;
  align-content: center;
  min-height: calc(90vh - 10rem);
  font-size: 20px;
}

.hero-section::before,
.hero-section::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: clamp(50px, 50vw, 300px);
  border-radius: 100vmax;
  filter: blur(10rem);
  z-index: -1;
  animation: sizing 3s 1s infinite forwards ease-in-out;
}

.hero-section::before {
  background-color: var(--clr-secondary);
  top: 0;
  left: 0;
}

.hero-section::after {
  background-color: var(--clr-primary);
  bottom: 0;
  right: 0;
}

@keyframes sizing {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 0.5;
  }
}

@media (width < 45em) {
  .hero-section::before {
    top: 40vh;
  }

  .hero-section::after {
    bottom: 40vh;
  }
}

.primary-heading {
  font-size: var(--fs-heading-1);
  text-align: center;
  font-weight: 600;
  background-image: var(--gradient-1);
  background-clip: text;
  color: transparent;
}

.secondary-heading {
  font-size: var(--fs-heading-3);
}

.subtitle {
  width: min(471px, 100%);
  text-align: center;
}
