.hero-section {
  place-items: center;
  align-content: center;
  min-height: calc(90dvh - 5rem);
  font-size: 20px;
}

.primary-heading {
  font-size: var(--fs-heading-1);
  text-align: center;
  font-weight: 600;
  background-image: var(--gradient-1);
  background-clip: text;
  color: transparent;
}

.secondary-heading {
  font-size: var(--fs-heading-3);
}

.subtitle {
  width: min(471px, 100%);
  text-align: center;
}
