:root {
  --clr-primary: #0a0909;
  --clr-secondary: #ededed;
  --clr-accent: #ffffff;
  --clr-orange: #ed7615;
  --clr-lavender: #6e3cf5;
  --clr-sussie: #38e1f1;
  --clr-blue-jeans: #0082ff;

  --fs-heading-1: clamp(50px, 8vw, 150px);
  --fs-heading-2: 28px;
  --fs-heading-3: 18px;
  --fs-heading-4: 24px;
  --fs-heading-5: 20px;
  --fs-heading-6: 48px;

  --fs-body: 16px;
}

@media (width > 35em) {
  :root {
    --fs-heading-2: 35px;
    --fs-heading-3: 22px;
    --fs-body: 18px;
  }
}

@media (width > 45em) {
  :root {
    --fs-heading-2: 48px;
    --fs-heading-3: 25px;
    --fs-body: 20px;
  }
}

/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  display: grid;
  padding-block: 32px;
  font-size: var(--fs-body);

  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-weight: 300;

  background: rgb(234, 162, 183);
  background: linear-gradient(
    90deg,
    rgba(179, 200, 241, 1) 0%,
    rgba(234, 162, 183, 1) 100%
  );
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
  font-family: var(--ff-secondary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.container {
  --padding-inline: 1.5rem;
  --padding-block: clamp(20px, 20px + 5vw, 72px);
  --max-width: 76.1875rem;

  width: min(var(--max-width), 100% - var(--padding-inline));
  padding-block: var(--padding-block);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-center {
  place-items: center;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.text-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.text-accent {
  color: var(--clr-accent);
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.rounded-full {
  border-radius: 100vmax;
}
