.hero-section {
  padding-block: 30px;
  align-items: end;
}

.primary-heading {
  font-size: var(--fs-display);
  font-weight: 600;
  flex-shrink: 1;
}

@media (width > 35em) {
  .primary-heading {
    font-size: var(--fs-display-xl);
  }
}

@media (width > 45em) {
  .primary-heading {
    font-size: var(--fs-display-2xl);
  }
}

.secondary-heading {
  font-size: var(--fs-heading-5);
}

.subtitle {
  width: min(471px, 100%);
}

.scroll-cta {
  padding: 16px 32px;
  margin-bottom: 2.5rem;
  flex-shrink: 0;
}
