.primary-heading {
  font-size: var(--fs-heading-2);
  font-weight: 600;
  margin-bottom: 1rem;
}

.subtitle {
  width: min(392px, 100%);
}

@media (width > 45em) {
  .project-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(592px, 100%), 1fr));
  }
}
