.contact-container {
  background-color: var(--clr-accent-2);
  color: var(--clr-neutral-1);
  padding-inline: var(--padding-block);
  border-radius: 3.6rem;
  background-image: var(--gradient-2);
}

@media (width < 45em) {
  .contact-container {
    padding-inline: 1rem;
    --padding-block: 1rem !important;
    border-radius: 1rem;
  }
}

.primary-heading {
  font-size: var(--fs-heading-2);
}

.form-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.form-container :is(input, textarea) {
  border-radius: 5px;
  background-color: var(--clr-neutral-2);
  padding: 7px 10px;
  border: 2px solid transparent;
  outline: 0;
  transition: border-color 200ms ease-in-out;
}

.form-container :is(input, textarea):focus-visible {
  border-color: var(--clr-primary);
}

.form-container textarea {
  resize: none;
}
