.primary-heading {
  font-size: var(--fs-heading-2);
}

.subtitle {
  /* width: min(392px, 100%); */
  margin-inline: auto;
  text-align: center;
}

@media (width > 45em) {
  .subtitle {
    text-align: left;
    margin: 0;
  }

  .project-grid {
    --gap: 2rem;
    --flow-spacing: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }
}
